/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-07-2021, 1:24:03
    Author     : Marco Caracciolo
*/

.dataTables_filter, .dataTables_length, .dataTables_info {
  display: none;
}

table>thead>tr>th,
table>tbody>tr>td{
  padding: 5px !important;
  margin: 5px !important;
}

/* #tablaPrioridadAtencion_info {
  margin-left: 10px !important
} */

.datepicker tr td{
  padding: 5px !important;
  margin: 5px !important;
}
